

    /* General Base Styles */
body                            {   font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; margin: 0; color: #222; background: #F6F7F9 url(/images/background.png) !important; background-color: none !important; }

/* Link Styles */
a                               {   color: #3972C5; text-decoration: none; }
a:hover                         {   color: #1665D5; cursor: pointer; text-decoration: none !important; }
a:active                        {   color: #134C9E; }

/* Typography Styles */
h1, h2, h3, h4, h5 { margin: 0 0 4px !important; }
h1	{  }
h2	{  }
h3	{ font-size: 17px; }
h4	{ font-size: 13px; }
h5	{  }
label { font-size: 13px; font-weight: bold; color: #AAACB8; margin-bottom: 3px; }

    body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin: 0;
	color: #222;
	background: #F6F7F9 url(/images/background.png) !important;
	background-color: none !important;
}
	
	.esv { margin: 25px; }
	.esv h2 { font-size:  22px; line-height: 30px; color: #444444; }
	.esv h3 { font-size:  16px;	line-height: 30px; color: #595960; }	
	
	.esv p { font-size: 16px; line-height: 28px; text-align: justify; }
  p {
 margin:0 0 10px
}
	
	.esv .chapter-num { font-size: 13px; font-weight: bold; color: #4a4a54; vertical-align: top; }
	.esv .verse-num { font-size: 13px; font-weight: bold; color: #4a4a54; vertical-align: top; }
	
	#copyright_text { margin-top: 65px; margin-bottom: 65px; font-size: 12px; color: #afafaf; line-height: 18px; }
	#copyright_text a { color: #aab8e0; }

    .bottom-overlay { position: fixed; bottom: 0; width: 100%; margin: 0; background-color: rgba(0, 0, 0, .8);  text-align: center; display: table; height: 48px; }
    .bottom-overlay a { color: white; vertical-align: middle;  margin: 0 auto; display: table-cell; }
    .bottom-overlay a:hover, a:active { color: white; }
    .listen-img-container { background: url("/media/images/sprite-bible-1x.png") 0 29px; display: table-cell; }
    .prev-img-container { float: left; background: url("/media/images/sprite-bible-1x.png") 0 0; margin-left: 9px; }
    .next-img-container { float: right; background: url("/media/images/sprite-bible-1x.png") 29px 0; margin-right: 9px; }
    .listen-img-container, .prev-img-container, .next-img-container { height: 30px; width: 30px; display: inline-block; vertical-align: middle; }

    @media screen and (-webkit-min-device-pixel-ratio: 2) {
        .listen-img-container { background: url("/media/images/sprite-bible-2x.png") 0 29px; background-size: 60px 60px !important; }
        .prev-img-container { float: left; background: url("/media/images/sprite-bible-2x.png") 0 0; background-size: 60px 60px !important; }
        .next-img-container { float: right; background: url("/media/images/sprite-bible-2x.png") 29px 0; background-size: 60px 60px !important; }
    }

    @media screen and (-webkit-min-device-pixel-ratio: 3) {
        .listen-img-container { background: url("/media/images/sprite-bible-3x.png") 0 29px; background-size: 60px 60px !important; }
        .prev-img-container { float: left; background: url("/media/images/sprite-bible-3x.png") 0 0; background-size: 60px 60px !important; }
        .next-img-container { float: right; background: url("/media/images/sprite-bible-3x.png") 29px 0; background-size: 60px 60px !important; }
    }